:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #1e1828;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  outline: 0;
  vertical-align: bottom;
  background-color: transparent;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    font-weight: 700;
    font-size: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.frame {
  background-color: #474153;
  height: 32px;
  width: 4vw;
  outline: 1px solid #c9c7c7;
  border-radius: 5px;
  margin: 4px;
  text-align: center;
  position: relative;
  transition: all 1s;
}

.bone {
  width: 14.5vw;
}

.length {
  width: 5.5vw;
}

.shape, .direction {
  width: 7vw;
}

.num {
  width: calc(38vw + 32px);
  background-color: #332f3b;
}

.inputf, .buttonf {
    font-family: inherit; /* or specify your desired font */
    font-size: 1rem;      /* or match your .frame font size */
    outline: 1px solid #ffffff;
    background-color: #747376;
    text-align: left;
}

.buttonf {
  width: 10vw;
}

.answer {
  width: 100%;
  height: 10px;
  font-size: 20px;
}

.inputf {
    width: calc(28vw + 24px);
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.inputf:focus {
    background-color: #8e8e90;
}